<div id="header">
  <div id="lhc-logo">
    <a href="https://danielvreeman.com" title="Daniel Vreeman" id="logo"><img src="assets/forms-logo.png" height="50px" alt="Daniel J. Vreeman, PT, DPT, MS, FACMI"></a>
  </div>
  <div><span id="siteName">Research Data Finder</span></div>
  <div id="version">FHIR-powered | Version: 0.1</div>
</div>
<!-- end page header -->
<div class="content" role="main">
  <app-stepper></app-stepper>
</div>

<!-- page footer -->
<div id="fine-print">
  <ul class="horz-list">
    <li class="last-item"><a title="copyright information"  href="https://github.com/djvreeman/lforms-fhir-app/blob/master/LICENSE.md">Copyright</a></li>
  </ul>
</div>
<!-- end page footer -->
